THEORY QUESTIONS


ANSWER 1)
Data structures are fundamental in computer science, acting as specialized formats for organizing, storing, and accessing data efficiently within a computer system.

Data structures are important:
Efficiency:
Data structures are designed to optimize operations like searching, sorting, and manipulating data. By choosing the right data structure, you can significantly reduce the time and resources needed to perform these operations.
Organization:
They provide a structured way to arrange data, making it easier to access, update, and retrieve information when needed.

Problem Solving:
Understanding different data structures and their strengths enables developers to solve complex problems more effectively.

Real-world Applications:
Data structures are used in a wide range of applications, including databases, operating systems, compilers, and various software systems.

ANSWER 2) Mutable data types can be changed after they are created, while immutable data types cannot be modified once they are initialized. Examples of mutable data types include lists and dictionaries, while examples of immutable data types include strings and tuples.

ANSWER 3)The main differences between lists and tuples in Python are:

Mutability: Lists are mutable, meaning their elements can be changed after creation (elements can be added, removed, or modified). Tuples are immutable, meaning their elements cannot be changed after creation.

Syntax: Lists are defined using square brackets [], while tuples are defined using parentheses ().

Use Cases: Lists are suitable for collections of items that may need to be modified. Tuples are suitable for collections of items that should remain constant.

ANSWER 4 )Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

ANSWER 5)Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

ANSWER 6)A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything
Strings have a fixed length, while lists can dynamically grow or shrink in size by adding or removing elements

ANSWER 7) Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its contents cannot be changed, added to, or removed.

Immutability ensures that data stored in a tuple remains constant throughout its lifecycle. This prevents unintended alterations that could lead to errors or inconsistencies, especially in scenarios where data integrity is critical, such as configuration settings or database records.

Tuples can be used as keys in dictionaries because they are immutable and hashable. If tuples were mutable, their hash values could change, making them unreliable as dictionary keys.

ANSWER 8 )In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary are hashableâ€“they are generated by a hash function which generates a unique result for each unique value supplied to the hash function.

ANSWER 9)Yes, lists in Python can contain different data types. Python lists are versatile and allow you to store elements of various types within the same list. This includes integers, floats, strings, booleans, and even other lists or data structures like dictionaries and tuples.

ANSWER 10)Python strings are immutable which means they cannot be changed after they are created . Since strings can't be changed, we construct new strings as we go to represent computed values.

ANSWER 11)A list can store any data type. In contrast, keys in the dictionary can be of any immutable data type, and values can be of any data type. Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations.

ANSWER 12)uples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

ANSWER 13)In Python, sets are designed to store only unique elements. When attempting to add a duplicate value to a set, the set automatically discards the duplicate, ensuring that each element within the set is unique. This behavior makes sets a useful tool for removing duplicates from other data structures like lists or tuples. If a set is initialized with duplicate values or if duplicate values are added later, only one instance of each unique value will be retained in the set.

ANSWER 14)the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

ANSWER 15)No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable data structures, meaning their elements cannot be changed after they are created. Attempting to assign a new value to an element within a tuple will raise a TypeError

ANSWER 16)A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for structuring data in a hierarchical way, where you can store complex, multi-layered information. A common use case is representing hierarchical data like family trees or organizational chart

ANSWER 17)The time complexity of accessing an element in a dictionary is typically O(1), meaning it takes constant time regardless of the dictionary's size. This is because dictionaries use hashing to map keys to their corresponding values, allowing for direct access to the desired value in a single step.

ANSWER 18)For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable

ANSWER 19 )A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.

ANSWER 20)Difference betgween lists and dictionaries:

Lists:
Elements are accessed by their position (index) in the sequence.
Retrieval time is proportional to the list's size, as elements need to be checked one by one.
Best for ordered collections where you know the position of the desired element.


Dictionaries:
Elements are accessed by their associated key.
Retrieval time is very fast (close to O(1) or constant time) due to the use of a hash table.
Ideal for scenarios where you need to quickly look up data based on a unique identifier.

**PRACTICAL QUESTIONS**

ANSWER 1)

In [1]:
my_name = "Suyash"
print("My name is:", my_name)

My name is: Suyash

ANSWER 2)

In [2]:
text = "Hello World"
length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

ANSWER 3)

In [3]:
text = "Python Programming"
sliced_text = text[:3]
print("First 3 characters are:", sliced_text)

First 3 characters are: Pyt

ANSWER 4)

In [4]:
text = "hello"
uppercase_text = text.upper()
print("Uppercase version:", uppercase_text)

Uppercase version: HELLO

ANSWER 5)

In [5]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print("Updated string:", new_text)

Updated string: I like orange

ANSWER 6)

In [6]:
numbers = [1, 2, 3, 4, 5]
print("The list is:", numbers)

The list is: [1, 2, 3, 4, 5]

ANSWER 7)

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

ANSWER 8 )

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

ANSWER 9)

In [9]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("The second element is:", second_element)

The second element is: b

ANSWER 10)

In [10]:
numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print("Reversed list:", reversed_numbers)

Reversed list: [50, 40, 30, 20, 10]

ANSWER 11 )

In [11]:
my_tuple = (100, 200, 300)
print("The tuple is:", my_tuple)

The tuple is: (100, 200, 300)

ANSWER 12)

In [12]:


colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print("The second-to-last element is:", second_to_last)

The second-to-last element is: blue

ANSWER 13

In [13]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print("The minimum number is:", min_number)

The minimum number is: 5

ANSWER 14)

In [14]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

ANSWER 15 )

In [15]:
fruits = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in fruits
print("Is 'kiwi' in the tuple?", is_kiwi_in_tuple)

Is 'kiwi' in the tuple? False

ANSWER 16)

In [16]:
my_set = {'a', 'b', 'c'}
print("The set is:", my_set)

The set is: {'b', 'a', 'c'}

ANSWER 17 )

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after clearing:", my_set)

Set after clearing: set()

ANSWER 18)

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

ANSWER 19)

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print("Union of the two sets:", union_set)

Union of the two sets: {1, 2, 3, 4, 5}

ANSWER 20 )

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print("Intersection of the two sets:", intersection_set)

Intersection of the two sets: {2, 3}

ANSWER 21)

In [21]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print("The dictionary is:", my_dict)

The dictionary is: {'name': 'Alice', 'age': 30, 'city': 'New York'}

ANSWER 22)

In [22]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

ANSWER 23)

In [23]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print("The value associated with 'name' is:", name_value)

The value associated with 'name' is: Alice

ANSWER 24)

In [24]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

ANSWER 25)

In [25]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

ANSWER 26)

In [26]:

my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')


my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}


print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

ANSWER 28)

In [27]:
my_list = ['apple', 'banana', 'cherry', 'date', ]

# Printing the element at the third index
print("Element at index 3:", my_list[3])

Element at index 3: date

ANSWER 29)

In [28]:
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}


combined_dict = {**dict1, **dict2}


print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

ANSWER 30 )

In [29]:
my_list = ['apple', 'banana', 'cherry', 'apple', 'date']


my_set = set(my_list)


print("Converted set:", my_set)

Converted set: {'cherry', 'date', 'apple', 'banana'}

ANSWER 27 )

In [31]:
n = 5
li = random.sample(range(1, 101), n)
print(li)

NameError: name 'random' is not defined